/*OBJETIVO: INICIO -> SE APLICA SASS-I SÓLO AL INDEX Y SE LINKEA STYLE(ARCHIVO SASS) AL INDEX*/
//importamos las fuentes
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
//importamos los Partials
@import "_variables";
@import "_general";
@import "_menu";
@import "_contacto";
@import "_inicioregistro";
@import "_nosotros";
@import "_producto";

/*  inicio de carrousel +REDES  */
.carru{
    width: $var1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    .carousel{
        width: $var1;
    }
    .carousel-indicators > li{
        border-radius: $var2;
        height: 15px;
        width: 15px;
    }
    .tatox{
        width: 90%;
        font-family: $font2;
        color: $color2;
        text-align: center;
        margin-top: 50px;
        background-color: $color1;
        padding: 10px;
        border-radius: 1em;
    }
    .section2{
        font-family: $font2;
        margin-top: 100px;
        margin-bottom: 60px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        #carro{
            width: 300px;
            height: 200px;
        }
        #cardd{
            width: 300px;
            height: 200px;
        }
        #wsp{
            width: 300px;
            height: 200px;
        }
    }
    .tex{
        font-size: map-get($titulos, titulo1);
        text-align: center;
        margin-top: $size1 + 10;;
        margin-bottom: $size1 + 10;
        color: $color2;
        font-family: $font2;
    }
    .import{
        font-size: map-get($titulos , titulo2 );
        text-align: center;
        color: $color2;
    }
}
/*  fin de carrosel +REDES  */
/*inicio titulos con h1 y h2*/
.cabezal{
    width: $var1;
    h1{
        color: $color2;
        margin-top: 90px;
        margin-bottom: $size1 + 10;
        border-radius: 1em;
        font-family: $font4;
        font-weight: 600;
        z-index: 1;
        background-color: $color1;
        border-radius: 1em;
        -webkit-animation: tracking-in-contract 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }
    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }
    h2{
        background-color: $color1;
        border-radius: 1em;
        font-family: $font4;
        color: $color2;
        width: $var1;
        margin-bottom: $size1 + 60;
        font-weight: 600;
    }
}
/*fin titulos con  h1 y h2*/






